.product-listing {
  padding: rem-calc(30 0);
  h1 {
    display: table;
    background: $gold;
    font-size: 31px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    padding: rem-calc(0 25);
    margin: 0 auto;
    margin-bottom: rem-calc(30);
  }
  .woocommerce-result-count {
    display: none;
  }
  .woocommerce-ordering {
    display: none;
    float: right;
    clear: both;
  }

  ul.products {
    // background: green;
    li.product {
      text-align: center;
      img {
        // border: 1px solid red;
      }
      h3 {
        display: block;
        min-height: rem-calc(80);
        font-family: 'Cinzel', serif;
        font-size: rem-calc(18);
        padding: rem-calc(10);
        color: #000;
      }
      span.price {
        font-size: rem-calc(17);
        color: $gold;
      }
      a.button {
        background: $white;
        margin: 0;
        border-radius: 0;
        border: 1px solid $black;
      }
    }
  }
}

.product-sidebar {
  background: $black;
  color: $white;
  .product-widgets {
    padding: 1rem;
    .widget {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      padding: 1rem 4rem;
      @media screen and (max-width: 768px){
        display: block;
        width: 100%;
        padding: 1rem;
      }
    }
    .widget_product_categories {
      select {
        border: none;
      }
    }
    .widget_price_filter {
      .ui-slider {
        background-color: darken( $gold, 25% );
        .ui-slider-range, .ui-slider-handle {
          background-color: $gold;
        }
      }
      .price_slider_amount{
        button, .button {
          background: transparent;
          color: $gold;
          font-size: .8rem;
          font-weight: 400;
          text-transform: uppercase;
          padding: 0.6rem 2rem;
          border: 1px solid $gold;
          border-radius: 0;
        }
      }
    }
  }
}
